version: "3.9"

services:
  web:
    build: .
    container_name: hello-api
    ports:
      - "5000:5000"
    networks:
      - devops-network

  redis:
    image: redis:7-alpine
    container_name: redis
    networks:
      - devops-network

networks:
  devops-network:
    driver: bridge
